# Default ignored files
/../../Нефтегаз Ресчетка /.idea/shelf/
/../../Нефтегаз Ресчетка /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Нефтегаз Ресчетка /.idea/httpRequests/
# Datasource local storage ignored files
/../../Нефтегаз Ресчетка /.idea/dataSources/
/../../Нефтегаз Ресчетка /.idea/dataSources.local.xml
