# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.idea/
.vscode/
*.iml
*.log
*.tmp
*.swp
*.bak

# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml

# Editor-based HTTP Client requests
.idea/httpRequests/

# Specific files
.idea/shelf/
.idea/workspace.xml

# OS-specific files
.DS_Store
Thumbs.db